.register-block
{
    margin : auto;
    width : 50%;
    padding : 10px;
    padding-top : 50px;
    display : flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}
mat-card{
  padding: auto;

}
.register-input-full-width
{
    width : 100%;
}

h3
{
    text-align: center;
}


:host {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;

}
.space {
  width: 4px;
  height: auto;
  display: inline-block;
}
img{
  max-height: 100px;
  max-width: 100px;
  background-size: cover;
   background-position: center center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
