<div>
  <mat-card style="padding: 0%;">
    <picture>
      <source media='(min-width:0px)' srcset="./assets/img/registration.png">
      <img mat-card-image src="" alt="user registration avtar" class="rounded-circle">
    </picture>
    <mat-card-title>
      <mat-icon>how_to_reg</mat-icon>Sign Up
    </mat-card-title>
    <mat-card-content>
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="register-block">

          <div class="row">
            <mat-form-field class="register-input-full-width">
              <input matInput placeholder="First Name" id="firstName" formControlName="firstName" required >
              <mat-placeholder>
                <mat-icon>create </mat-icon>
              </mat-placeholder>
              <mat-error *ngIf="registerForm.get('firstName').errors?.required">First Name is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field class="register-input-full-width">
              <input id="lastName" matInput placeholder="Last Name" formControlName="lastName" required >
              <mat-placeholder>
                <mat-icon>create </mat-icon>
              </mat-placeholder>
              <mat-error *ngIf="registerForm.get('lastName').errors?.required">Last Name is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field class="register-input-full-width">
              <input id="userId" matInput placeholder="User Id/Email" class="userId" formControlName="userId" required
                minlength="5" maxlength="30">
              <mat-placeholder>
                <mat-icon> email </mat-icon>
              </mat-placeholder>
              <mat-error *ngIf="registerForm.get('userId').errors?.required">User Id is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field class="register-input-full-width">
              <input id="password" matInput placeholder="Password" class="password" formControlName="password"
                type="password" required>
              <mat-placeholder>
                <mat-icon> lock </mat-icon>
              </mat-placeholder>
              <mat-error *ngIf="registerForm.get('password').errors?.required">Password is mandatory</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <button class="register-user" type="submit" mat-raised-button color="primary">Sign Up</button>
            <div class="space"></div>
            <button type="reset" mat-raised-button color="primary"><mat-icon style="font-size: 20px">clear</mat-icon>Clear</button>

          </div>
          <div>
            <p>Existing user
              <button class="register-button" mat-raised-button [routerLink]="['/login']" color="primary">Login</button>
            </p>

          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
